@font-face {
  font-family: 'Craft';
  src: url("Craft.eot?x=Xe241Ge2v");
  src: url("Craft.eot?#iefix&x=Xe241Ge2v") format("embedded-opentype"), url("Craft.woff?d=1442829004") format("woff"), url("Craft.ttf?x=Xe241Ge2v") format("truetype"), url("Craft.svg") format("svg"); font-weight: normal; font-style: normal;
}

/**
 * Generic elements.
 */
*:focus {
  position: relative;
  z-index: 20;
}

.page-taxonomy-term-edit, .page-taxonomy-term-edit *,
.page-node-edit, .page-node-edit * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/*html body.admin-menu.preview {
  overflow: hidden;
}

.no-preview #page {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  width: auto !important;
}*/

.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
  display: none;
}

/*.tabledrag-toggle-weight-wrapper {
  display: none;
}*/

form .field-multiple-table td.field-multiple-drag {
  float: right;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  background-color: transparent;

  /*background-color: #eef0f1;*/
  /*padding-left: 40px;*/
  min-height: 29px;
  box-sizing: content-box;
  width: auto;
  white-space: nowrap;
}

/*.field-multiple-table tr {
  display: block;
  width: 100%;
  border: 0px;
  background: #fff;
  position: relative;
}*/

/*.field-multiple-table tr + tr {
  margin-top: 1em;
}*/

.field-type-paragraphs tbody {
  display: block;
  width: 100%;
}

.field-multiple-table {
  border: 0px;
  border-radius: 5px;

  background: #fff;
  color: #b9bfc6;
}

.field-multiple-table th {
  display: none;

  width: 100%;
  border-radius: 2px 2px 0 0;
  background: #eef0f1;
  color: #b9bfc6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.field-multiple-table tr {
  display: block;
  width: 100%;
  border: 0px;
  background: #fff;
  position: relative;
}

.field-multiple-table .form-wrapper:first-child {
  /*max-width: 100%;*/
}

.filter-wrapper {
  display: none;
}

.field-multiple-table tr + tr {
  margin-top: 1em;
}

.field-multiple-table td > .ajax-new-content > .form-wrapper:first-child,
.field-multiple-table td > .form-wrapper:first-child {
  width: 100%;
  border-radius: 2px 2px 0 0;
  background: #eef0f1;
  color: #b9bfc6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  /*margin: -7px -9px 7px;*/
  margin: -7px -9px 10px;
  padding: 5px 10px;
  width: auto;
  display: block;
  /*margin-bottom: 1em;*/
  cursor: pointer;
  /*text-indent: -95px;*/
}
.field-multiple-table td.collapsed > .ajax-new-content > .form-wrapper:first-child,
.field-multiple-table td.collapsed > .form-wrapper:first-child {
  /*margin-bottom: 0px;*/
}
.tabledrag-toggle-weight-wrapper {
  display: none;
}
em.placeholder:before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 10px;
}

.field-multiple-table td {
  /*display: block;*/
  /*width: 100%;*/
  border-radius: 3px;
  /*background: #f9fafa;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
   -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  /*padding-bottom: 0;*/
  /*overflow: hidden;*/
  min-height: 30px;
  max-height: none;
  transition: max-height 0.5s ease-in-out;
  display: inline-block;
  width: 100%;
}

/*.field-multiple-table .field-type-image td {
  background: #fff;
}*/

.field-type-image fieldset .fieldset-wrapper {
  padding: 0;
}

.field-multiple-table td td {
   /*-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;*/
  /*display: table-cell;*/
  width: auto;

  /*display: table;*/
  display: block;
  /*width: 100%;*/
}

.field-multiple-table td.collapsed {
  max-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.field-multiple-table tr.even, .field-multiple-table tr.odd {
  position: relative;
  background: #fff;
  border: 0px;
}

.field-type-paragraphs a.tabledrag-handle .handle {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  /*background-position: 6px 8px;*/
  background: url(images/iconmonstr-sort-1-12.png) no-repeat center center;
  width: 30px;
  height: 30px;
}

a.tabledrag-handle-hover .handle {
  /*background-position: 6px -12px;*/
}

.cke_top {
  background: #fff !important;
  border-bottom: 1px solid #eee !important;
  box-shadow: none !important;
}

.cke_toolgroup {
  background: #fff !important;
  border: 0px !important;
}

.cke_combo_button {
  background: #fff !important;
  border: 1px solid #eee !important;
}

.cke.cke_panel {
  width: auto !important;
  height: auto !important;
}

a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
  background: #eee !important;
}

.cke_button_on {
  background: #eee !important;
}

.cke_inner,
.cke_reset {
  background: transparent !important;
}

.cke_chrome {
  -webkit-box-shadow: inset 0 2px 0px rgba(0,0,0,0.15);
  -moz-sbox-shadow: inset 0 2px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0 2px 0px rgba(0,0,0,0.15);
}

.field-type-paragraphs .cke_chrome {
  box-shadow: none;
  border: 0;
  margin: -8px -9px -7px;
}

.ckeditor_links {
  display: none !important;
}

/*.field-multiple-table .form-actions.form-wrapper {
  position: absolute;
  top: 30px;
  right: 10px;
}*/

.field-multiple-table .form-actions.form-wrapper input.form-submit {
  margin: 0;
}

.field-multiple-table .form-wrapper.collapsed + div {
  display: none;
}

.field-multiple-table .draggable.drag > td > .form-wrapper:first-child,
.field-multiple-table .draggable.drag > td > .ajax-new-content > .form-wrapper:first-child {
  background: orange !important;
  color: #fff;
}

/*.field-multiple-table .draggable.drag .form-wrapper:first-child .form-wrapper {
  background: transparent !important;
}*/

input.form-submit.field-add-more-submit[id*='image-text'] {
  overflow: hidden;
  text-indent: 200px;
  background: url(images/icon-left1.png) center center no-repeat;
  width: 78px;
  height: 63px;
  border-radius: 0;
}

input.form-submit.field-add-more-submit[id*='text-image'] {
  overflow: hidden;
  text-indent: 200px;
  background: url(images/icon-right1.png) center center no-repeat;
  width: 78px;
  height: 63px;
  border-radius: 0;
}

input.form-submit.field-add-more-submit[id*='full-text'] {
  overflow: hidden;
  text-indent: 200px;
  background: url(images/icon-full1.png) center center no-repeat;
  width: 78px;
  height: 63px;
  border-radius: 0;
}

input.form-submit.field-add-more-submit[id*='quote'] {
  overflow: hidden;
  text-indent: 200px;
  background: url(images/icon-quote1.png) center center no-repeat;
  width: 78px;
  height: 63px;
  border-radius: 0;
}

input.form-submit.field-add-more-submit[id*='columns'] {
  overflow: hidden;
  text-indent: 200px;
  background: url(images/icon-columns1.png) center center no-repeat;
  width: 78px;
  height: 63px;
  border-radius: 0;
}

input.form-submit.field-add-more-submit:hover {
  /*outline: 2px solid #333;*/
  cursor: pointer;
}

.btn {
  float: right;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid #333;
  /*background-color: #fff;*/
  cursor: pointer;
}

.btn:hover {
  /*background: #eee;*/
}

/*#pane-left {
  width: 530px;
  z-index: 10;
  padding: 0 20px;
  vertical-align: top;
  height: 100%;
  height: calc(100vh - 29px);
  display: block;
}

#pane-right {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: auto;
  height: 100%;
  height: calc(100vh - 29px);
  z-index: 9;
  vertical-align: top;
}

#pane-right iframe {
  width: 100%;
  height: 100%;
}

#pane-right iframe {
  transform: scale(0.5);
  width: 200%;
  height: 200%;
  transform-origin: left top;
}

#page.preview {
  padding: 0;
  margin: 0;
  top: 29px;
  z-index: 20;
  display: flex;
  width: 100%;

  position: absolute;
  display: block;
  width: 530px;
  padding: 0;
  height: calc(100vh - 29px) !important;
  box-shadow: 0 0 1px 1px #ddd;
}

#pane-right {
  background: #fff;
  position: absolute;
  left: 530px;
  right: 0;
  top: 29px;
  bottom: 0px;
  border-left: 100px solid #fff;
  margin-left: -100px;
}

#pane-right.ready {

}

.preview #page #content {
  overflow: auto;
  height: 100%;
  direction: rtl;
  padding: 0 20px;
}

.pane {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.ui-resizable-e {
  position: absolute;
  top: 0;
  right: -10px;
  width: 20px;
  height: 100%;
  background: rgba(255,255,0,0);
  cursor: e-resize;
  transition: all 0.3s ease-in-out;
}

.ui-resizable-e:hover {
  right: -400px;
  width: 400px;
  background: rgba(220,220,220,0.5);
  border-right: 1px dashed #ccc;
}

.ui-resizable-e:before {
  opacity: 0;
}

.ui-resizable-e:hover:before {
  content: "← drag →";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  color: #ccc;
  white-space: nowrap;

  z-index: 90;
  font-size: 50px;
  width: 100%;
  left: 0;
  text-align: center;
  opacity: 1;
  text-shadow: 0 2px 1px #fff;
}*/

/*.ui-resizable-e:hover {
  border-right: 1px dashed #ccc;
}*/

ul.tips, div.description, .form-item div.description {
  white-space: normal;
}

input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select {
  max-width: 100%;
  float: none;
  display: table-cell;
}

.field-multiple-table .paragraphs-item-type-image-text:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 40px;
  display: block;
  width: 30px;
  height: 25px;
  background: url(images/icon-left-bg1.png) no-repeat top right !important;
  background-size: contain !important;
  opacity: 0.4;
}

.field-multiple-table .paragraphs-item-type-text-image:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 40px;
  display: block;
  width: 30px;
  height: 25px;
  background: url(images/icon-right-bg1.png) no-repeat top right !important;
  background-size: contain !important;
  opacity: 0.4;
}

.field-multiple-table .paragraphs-item-type-full-text:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 40px;
  display: block;
  width: 30px;
  height: 25px;
  background: url(images/icon-full-bg1.png) no-repeat top right !important;
  background-size: contain !important;
  opacity: 0.4;
}

.field-multiple-table .paragraphs-item-type-columns:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 40px;
  display: block;
  width: 30px;
  height: 25px;
  background: url(images/icon-columns-bg1.png) no-repeat top right !important;
  background-size: contain !important;
  opacity: 0.4;
}

.field-multiple-table .paragraphs-item-type-quote:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 40px;
  display: block;
  width: 30px;
  height: 25px;
  background: url(images/icon-quote-bg1.png) no-repeat top right !important;
  background-size: contain !important;
  opacity: 0.4;
}

#pane-right {
  display: block;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
  z-index: 0;
  opacity: 0;
}

body.preview #pane-right {
  /*display: block;*/
  transform: translateX(0%);
  transform-origin: top right !important;
  z-index: 5;
  opacity: 1;
  overflow: hidden;
}

/*body.preview.scaled #pane-right {
  left: auto !important;
  transform-origin: top right !important;
  transform: scale(0.5);
  width: 1200px !important;
  top: 30px;
  height: 200%;
}*/

.ui-resizable-handle {
  display: none;
}

body.preview .ui-resizable-handle {
  display: block;
}

/*.region-content {
  direction: ltr;
}
*/
/*.js-preview {
  position: relative;
  top: 10px;
  z-index: 800000;
  background-color: transparent;
  color: #fff;
  border: 1px solid #555;
  padding: 0 2rem;
  line-height: 28px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  background-color: #333;
}

.js-preview:hover {
  background-color: #444;
}*/

em.placeholder + span {
  display: inline-block;
  margin-left: 2em;
  color: #666;
}

.field-type-paragraphs .draggable a.tabledrag-handle {
  cursor: move;
  float: right;
  height: 30px;
  /*height: 1.7em;*/
  /*margin-left: -0.6em;
  margin-top: 0.3em;*/
  overflow: hidden;
  text-decoration: none;
  position: relative;
  z-index: 10;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding: 0;
  margin: 0;
}

.field-type-paragraphs .tabledrag-changed {
  position: absolute;
  top: 0;
  right: 4px;
}

.cke_wysiwyg_frame, .cke_wysiwyg_div {
  width: 100% !important;
}

.cke_bottom {
  display: none !important;
}

.field-widget-text-textarea label {
  display: none;
}

.field-type-image .fieldset-legend { display: none; }






/* STATAMIC LIKE LAYOUT */

body,
#branding,
#page {
  background: #EEEDE8;
}

#branding {
  margin: 0 42px;
}

#page {
  clear: left;
  background-color: #fff;
  padding: 2rem;
  margin: 0;
  border: 1px solid #DCDBD6;
  border-radius: 2px;
}

@media screen and (min-width: 1024px) {
  #page {
    margin: 0 42px;
  }
}

.node-page-form .form-item label {
  margin: 0;
  padding: 0;
  color: #B54754;
  font-weight: normal;
}

.vertical-tabs .form-item label {
  color: #333;
}

input#edit-title {
  border: 0px;
  border-bottom: 1px dashed #E4E4E4;
  font-size: 2rem;
  font-weight: 300;
  width: 100%;
  max-width: 700px;
}

#media-browser #branding {
  margin: 0;
}

.media-wrapper {
  border: 0 !important;
}

.media-browser-tab > div,
.media-browser-tab > form {
  display: inline-block;
  width: 100%;
  float: none;
}

.media-widget {
  display: inline-block;
  margin-top: 1rem;
}

.media-widget .preview:empty {
  margin: 0;
}


#edit-upload-upload > input {
  display: inline-block;
}



/* MODALS */
div.ctools-modal-content {
  border: 1px solid #DCDBD6;
  background: #fff;
  border-radius: 2px;
}

div.ctools-modal-content .modal-header {
  background: #DCDBD6;
}

div.ctools-modal-content .file-image-form .vertical-tabs {
  display: none;
}

div.ctools-modal-content a.close img {
  display: none;
}

input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select {
  border: 1px solid #DCDBD6;
  padding: 5px;
}

.form-item {
  position: relative;
  z-index: 9;
}

div.ctools-modal-content .form-item {
  display: table;
  width: 100%;
}

div.ctools-modal-content .form-item label {
  display: table-cell;
  float: none;
}

div.description, .form-item div.description {
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  width: 300px;
  top: 0;
  right: 0;
  padding: 10px 20px 10px 40px;
  border-radius: 2px;
  background: rgba(0,0,0,0.5) url(images/9962-comment.svg) 12px 12px no-repeat;
  line-height: 1.5em;
  font-size: 0.8rem;
  z-index: 29;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  /*margin-left: -0.5rem;
  margin-right: -1rem;
  margin-top: -0.5rem;*/
}

div.description a {
  color: #B54754;
}

div.description:hover,
/*.form-item:focus > .description,*/
/*.form-item:hover > .description,*/
.description-toggle:hover ~ div.description,
.description-toggle:focus ~ div.description {
  display: block !important;
  opacity: 1 !important;
  max-width: 300px;
  width: auto;
  height: auto;
}

.field-name-field-paragraph-info-title .description-toggle {
  position: absolute;
  top: 2.5rem;
  right: 0.5rem;
  text-decoration: none !important;
}

div.image-widget-data {
  float: left;
  width: 65%;
}

input.form-checkbox, input.form-radio {
  vertical-align: middle;
  margin-right: 10px;
}

/*.media-item {
  box-shadow: none;
  border: 0px;
  background: transparent;
  padding: 0;
}*/

/*.media-item .label-wrapper {
  position: relative;
  background: transparent;
  box-shadow: none;
  overflow: visible;
  text-align: center;
  word-wrap: break-word;
  display: inline-block;
}*/

/*.media-item img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
*/
input.form-submit, a.button {
  margin-bottom: 0;
}

.ui-dialog,
body.page-media-browser,
#media-browser-tabset,
.ui-dialog .ui-dialog-titlebar,
#media-browser-tabset #branding {
  background: transparent;
}

.ui-widget-content {
  border-radius: 5px;
  z-index: 10;
}

.ui-tabs .ui-tabs-panel.media-browser-tab {
  background: #fff;
}

.ui-dialog .ui-dialog-titlebar {
  background-color: transparent;
  float: right;
  position: absolute;
  right: 0;
  z-index: 10;
}

.ui-dialog .ui-dialog-titlebar-close {
  border: 0px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}

.description-toggle {
  position: relative;
  /*display: block;*/
  /*text-indent: -50px;
  overflow: hidden;
  width: 20px;
  height: 20px;*/
}

.description-toggle:after {
  content: url(images/questionmark-disc-gray.png);
  display: inline-block;
  text-indent: 0;
  vertical-align: middle;
  line-height: 0;
  opacity: 0.3;
}

.description-toggle:hover:after {
  opacity: 1;
  z-index: 30;
}

.form-item .description-toggle label {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.form-item .description-toggle:focus {
  outline: none;
}

.form-item .description-toggle:hover:after {
  opacity: 1;
}

.form-item .description-toggle:focus:after {
  margin-left: -1px;
  margin-bottom: -1px;
  border-radius: 50%;
  border: 1px solid rgba(0,127,255,.65);
  opacity: 1;
}

.image-widget {
  display: inline-block;
  vertical-align: middle;
  /*float: left;*/
}

.page-media-browser > .messages.error {
  position: absolute;
  top: 0;
  border: 0px;
  width: 100%;
  padding-bottom: 20px;
  margin: 0;
}

.paragraphs-item-type-nested-paragraphs .field-type-paragraphs {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .paragraphs-item-type-nested-paragraphs .field-type-paragraphs {
    display: inline-block;
    width: 50%;
    padding-right: 1em;
    vertical-align: top;
  }
  .paragraphs-item-type-nested-paragraphs .field-type-paragraphs + .field-type-paragraphs {
    padding-right: 0;
    padding-left: 1em;
  }
}

.field-type-paragraphs .form-wrapper[id*="und-add-more"],
.field-type-paragraphs .form-wrapper[id*="nl-add-more"],
.field-type-paragraphs .form-wrapper[id*="en-add-more"],
.field-type-paragraphs .form-wrapper[id*="fr-add-more"] {
  /*background: #eee;
  background: #f8f8f8;
  padding-left: 100px;
  padding: 1em 1em 2em 70px;
  border-radius: 10px;*/
  /*border: 1px dashed #ddd;*/
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;

  left: 50%;
  position: relative;
  transform: translateX(-50%);
  margin-top: -1px;
  padding: 2rem 0;
  width: auto;
  display: inline-block;
}

/*.field-type-paragraphs:hover .form-wrapper[id*="und-add-more"] {
  opacity: 1;
}

.field-type-paragraphs:hover .field-type-paragraphs .form-wrapper[id*="und-add-more"] {
  opacity: 0;
}

.field-type-paragraphs:hover .field-type-paragraphs:hover .form-wrapper[id*="und-add-more"] {
  opacity: 1;
}*/

/*
.paragraphs-item-type-nested-paragraphs:hover .form-wrapper[id*="und-add-more"] {
  opacity: 1;
}*/

/*.field-type-paragraphs .form-wrapper[id*="und-add-more"]:before {
  content: url(images/add.svg);
  display: inline-block;
  width: 50px;
  position: absolute;
  left: 0;
  margin: 1em;
}*/


/*tr td:last-child {
  display: block !important;
}*/


/*.field-name-field-image-column-big {
  width: 60%;
  float: left;
}

.field-name-field-image-column-small {
  width: 30%;
  float: left;
}*/

/* Hide label "Css class" */
.form-type-checkboxes > label[for*="field-css-class-und"],
.form-type-checkboxes > label[for*="field-css-class-nl"],
.form-type-checkboxes > label[for*="field-css-class-fr"],
.form-type-checkboxes > label[for*="field-css-class-en"],
.form-type-checkboxes > label[for*="field-css-class-checkbox-und"],
.form-type-checkboxes > label[for*="field-css-class-checkbox-nl"],
.form-type-checkboxes > label[for*="field-css-class-checkbox-fr"],
.form-type-checkboxes > label[for*="field-css-class-checkbox-en"],
.form-type-checkboxes > label[for*="field-css-class-radio-und"],
.form-type-checkboxes > label[for*="field-css-class-radio-nl"],
.form-type-checkboxes > label[for*="field-css-class-radio-en"],
.form-type-checkboxes > label[for*="field-css-class-radio-fr"] {
  display: none;
}

.field-type-paragraphs-css {
  padding-top: 10px;
  display: inline-block;
  width: 100%;
}

div[id*="access-info"] > em {
  display: none;
}

.field-type-markup {
  white-space: normal !important;
}


/* MEDIA */
.field-widget-media-generic fieldset {
  border: 0px;
  padding: 0;
}

.field-widget-media-generic table {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px;
}

.field-multiple-table .field-widget-media-generic td,
.field-widget-media-generic .field-type-image tr td:last-child {
  box-shadow: none;
  border: 0px;
}

.field-widget-media-generic tr {
  border-radius: 3px;
   -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.field-widget-media-generic table + .form-type-media {
  display: block;
  padding-left: 100px;
  padding: 1em 1em 2em 70px;
  border-radius: 10px;
  margin-top: 1rem;
  background: #f8f8f8;
  border: 1px dashed #ddd;
}

.field-widget-media-generic table + .form-type-media:after {
  content: url(images/add.svg);
  display: inline-block;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
}

td > .ajax-new-content > .form-actions,
td > .form-actions {
  margin: 20px -9px -7px;
  padding: 1rem;
  background: #f8f8f8;
  width: 105%;
  float: left;
}

.form-actions {
  float: left;
  clear: both;
}

.field-multiple-table .field-multiple-drag + td.hover {
  box-shadow: inset 0 0 0 1px rgba(0,127,255,.65) !important;
}

.field-multiple-table td > .ajax-new-content > .form-actions,
.field-multiple-table td > .form-actions {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  /*position: absolute;
  top: 0;*/
  right: 30px;
  z-index: 100;
  width: auto;
  margin: 0;
  padding: 0;
  background: none;
  /*opacity: 0.4;*/
}

.field-multiple-table td > .ajax-new-content > .form-actions p,
.field-multiple-table td > .form-actions p {
  display: none;
}

.field-multiple-table td > .ajax-new-content > .form-actions input.form-submit,
.field-multiple-table td > .form-actions input.form-submit {
  border: 0px;
  border-radius: 0;
  text-indent: -300px;
  width: 30px;
  height: 30px;
  background: url(images/iconmonstr-x-mark-1-12.png) no-repeat center center;
}

.field-multiple-table td > .ajax-new-content > .form-actions input.form-submit[id*="restore-button"],
.field-multiple-table td > .form-actions input.form-submit[id*="restore-button"] {
  background: url(images/iconmonstr-undo-2-12.png) no-repeat center center;
}

.field-multiple-table td > .ajax-new-content > .form-actions input.form-submit[id*="confirm-delete-button"],
.field-multiple-table td > .form-actions input.form-submit[id*="confirm-delete-button"] {
  display: none;
}

.field-multiple-table td.hover > .ajax-new-content > .form-actions,
.field-multiple-table td.hover > .form-actions {
  /*background: rgba(120,190,255,.1);*/
  opacity: 1;
}

.form-actions ~ a:focus,
.field-type-paragraphs input.form-submit:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(0,127,255,.65) !important;
}

/*.field-multiple-table td:hover td {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}*/

/*1px solid rgba(0,127,255,.65)*/

tr.odd .form-item, tr.even .form-item {
  white-space: normal;
}

.group-classes {
  /*padding: 8px 10px;*/
  padding: 0 10px;
  margin: -10px -9px 10px;
  background: #f8f8f8;

  max-height: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 -2px 2px rgba(200, 200, 200, 0.3);

  /*display: none;*/
}

.group-classes.is-open {
  height: auto;
  max-height: 120px;
  padding: 8px 10px;
  overflow: auto;
  /*box-shadow: none;*/
  /*background: #fff;*/
}

.js-toggle-layout {
/*  width: 40px;
  height: 16px;
  position: absolute;
  left: 50%;
  left: 0;
  top: 0;
  width: 100%;
  text-align: right;
  padding: 0.7rem;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1rem;
  color: #999;*/

  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(images/iconmonstr-gear-4-12.png) no-repeat center center;
}

div[id*="und-add-more"]:before,
div[id*="en-add-more"]:before,
div[id*="fr-add-more"]:before,
div[id*="nl-add-more"]:before {
  content: "Voeg een element toe:";
  /*background: url(images/iconmonstr-plus-2.svg) no-repeat center center;*/
  /*display: inline-block;
  background-image: -webkit-linear-gradient(white, #fafafa);
  background-image: -moz-linear-gradient(white, #fafafa);
  background-image: -ms-linear-gradient(white, #fafafa);
  background-image: -o-linear-gradient(white, #fafafa);
  background-image: linear-gradient(white, #fafafa);*/
  /*background: url(images/iconmonstr-plus-2.svg) no-repeat center center, linear-gradient(white, #fafafa);*/
  /*box-shadow: inset 0 0 0 1px rgba(0, 0, 20, 0.1);*/
  padding: 6px 12px;
  width: 30px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #5a5a5a;
  font-size: 13px;
  font-family: "Lucida Grande", Verdana, sans-serif;
  margin: .5em 0 0;
  line-height: 1.3em;
  height: 28px;
  padding: 0;
  vertical-align: top;
  margin-top: 0;

  width: auto;
  display: block;
  text-align: center;
}

div[id*="add-more-wrapper"] .form-item > p {
  display: none;
}

input.form-submit.paragraphs-add-more-submit {
  background-image: -webkit-linear-gradient(white, #fafafa);
  background-image: -moz-linear-gradient(white, #fafafa);
  background-image: -ms-linear-gradient(white, #fafafa);
  background-image: -o-linear-gradient(white, #fafafa);
  background-image: linear-gradient(white, #fafafa);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 20, 0.1);
  padding: 6px 12px;
  border-radius: 0;
  border: 0;
  font-size: 13px;
  margin-right: -2px;
  margin-top: 0;
}

input.form-submit.paragraphs-add-more-submit:hover {
  background-image: -webkit-linear-gradient(#f3f3f3, white);
  background-image: -moz-linear-gradient(#f3f3f3, white);
  background-image: -ms-linear-gradient(#f3f3f3, white);
  background-image: -o-linear-gradient(#f3f3f3, white);
  background-image: linear-gradient(#f3f3f3, white);
}

.js-delete {
  background: url(images/iconmonstr-x-mark-1-12.png) no-repeat center center;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.field-multiple-table .field-multiple-drag .form-actions {
  padding: 0;
  background: none;
  border-radius: 0;
  margin: 0;
}

.field-multiple-table .field-multiple-drag input[type="submit"] {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: none;
  padding: 0;
  margin: 0;
}

.field-type-paragraphs-css .form-type-radio {
  display: inline-block;
  float: none;
  margin-right: 1rem !important;
}

.field-name-field-custom-class,
.field-name-field-css-classes-radio,
.field-name-field-css-classes-checkbox {
  float: left;
  width: 50%;
}

.paragraphs-item-type-page-title .field-type-markup {
  min-height: 20px;
}

.paragraphs-item-type-page-title .collapsed .field-type-markup {
  display: none;
}

/* Images */
.field-multiple-table .entity-id .field-type-image .form-wrapper:first-child {
  border-radius: 0px;
  border: 0px;
}

.field-multiple-table td > .form-wrapper:first-child:hover {
  background: #ddd;
  color: #333;
}

.field-multiple-table .entity-id .field-type-image .form-wrapper:first-child:hover {
  background: #eef0f1;
}

.field-type-paragraphs .field-type-image .draggable {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.field-type-paragraphs .field-type-image .draggable:hover {
  background: #eee;
  background: rgb(250,250,255);
  z-index: 10;
}

.field-type-paragraphs .field-type-image .draggable.drag {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 165, 0, 1);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 165, 0, 1);
  box-shadow: inset 0 0 0 1px rgba(255, 165, 0, 1);
  background: rgba(255, 165, 0, 0.4);
}

.field-type-paragraphs .field-type-image td {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.field-type-image tr td:last-child {
  border: 0px;
  background-color: transparent;
  display: table-cell;
}

.field-type-paragraphs .field-type-image tr + tr {
  margin-top: 0;
}

.field-type-image table {
  border: 1px solid #b6b6b6;
  padding: 0;
  background: #fff;
}

.field-type-image fieldset {
  padding: 1rem;
}

.field-type-paragraphs .field-type-image fieldset {
  padding: 0;
  margin: 0;
  border: 0px;
}

.field-type-paragraphs .field-type-image table {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.field-type-paragraphs table {
  border: 0px;
}

.image-widget {
  display: block;
  float: none;
}

.image-widget-data input.form-text {
  display: block;
}

.image-widget-data input.form-file {
  display: inline-block;
  margin-right: 0.5rem;
}

/* File attachments */
.field-type-paragraphs .field-type-file {
  /*margin: -10px -9px 0;*/
}

.field-type-paragraphs .field-type-file fieldset {
  border: 0px;
  padding: 0;
  margin: 0;
}

.field-type-paragraphs .field-type-file legend {
  display: none;
}

.field-type-paragraphs .field-type-file .fieldset-wrapper {
  padding: 0;
}

.field-type-paragraphs .field-type-file .draggable {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;*/
}

.field-type-paragraphs .field-type-file .draggable:hover {
  background: rgb(250,250,255);
}

.field-type-file td {
  border: 0px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.field-type-paragraphs .field-type-file .form-item {
  /*padding: 0 10px;*/
}

.field-type-paragraphs .field-type-file .draggable.drag {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 165, 0, 1);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 165, 0, 1);
  box-shadow: inset 0 0 0 1px rgba(255, 165, 0, 1);
  background: rgba(255, 165, 0, 0.4);
}

/*.field-type-paragraphs .field-type-file .draggable.drag a {
  color: #fff;
}*/